.main {
  width: 512px;
  height: 768px;
  background: white;
  margin: 0 auto;
  margin-top: 96px;
  margin-bottom: 32px;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
  position: relative;
  display: flex;
  flex-direction: column;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid #e9ecef;
  border-radius: 50%;
  background-color: #20c997;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 30px;
  transition: 0.5s ease-in-out;
  z-index: 1;
}
.header {
  padding: 48px 32px 32px 24px;
  border-bottom: 1px solid #e9ecef;
}
.day {
  margin-top: 4px;
  color: #868e96;
  font-size: 21px;
}
.tasks-left {
  color: #20c997;
  font-size: 18px;
  margin-top: 40px;
  font-weight: bold;
}
.list {
  flex: 1;
  padding: 20px 30px;
  padding-bottom: 48px;
  overflow-y: auto;
  background: white;
}
.check-circle {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #ced4da;

  align-items: center;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
}
.check {
  text-align: center;
  color: #20c997;
}
.item {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #868e96;
  margin-bottom: 4px;
  padding-bottom: 4px;
}
.item:hover {
  border-bottom: 2px solid #868e96;
}
.delete-button {
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}
.item:hover .delete-button {
  visibility: visible;
  opacity: 1;
}
.done-task {
  text-decoration: line-through;
}
.active {
  transition: 0.5s ease-in-out;
  background-color: indianred;

  transform: translate(-50%, 50%) rotate(45deg);
}
.add-area-show {
  transition: 0.5s ease-in-out;
  padding-left: 30px;
  padding-right: 30px;
  opacity: 1;
  background-color: bisque;
  height: 200px;
  display: flex;

  justify-content: center;
  align-items: center;
  bottom: 0;
  position: absolute;
  width: 100%;
}
.add-area-noshow {
  transition: 0.5s ease-in-out;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;

  justify-content: center;
  align-items: center;
  opacity: 0;
  height: 0px;
}
.form-button-style {
  width: 100px;
}
